.App {
  text-align: center;
}

.App > ul {
  list-style-type: none;
  padding: 0px;
}

.App > ul > li {
  width: 70%;
  margin: auto;
}

.App > ul > li > div {
  /* float: center; */
  display: inline-block;
  padding: 1rem;
}

.App button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid blue;
  line-height: 1rem;
  font-size: 1rem;
  color: blue;
}

.App input {
  padding: 0.5rem 1rem;
  line-height: 1rem;
  font-size: 1rem;
  height: 1rem;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid blue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
